* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ==================Header================= */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: calc(64px - 14px);
}

.navbar .action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.18em;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19;
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/* =======================clients=============== */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
}

.clients .row-desc {
    margin-top: 23px;
}
.clients .images {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* =========================guides====================== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.list-guide .guide-item {
    margin: 0 70px;
    text-align: center;
}

.list-guide .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
}

.list-guide .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.list-guide .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}
/* ========================featured========================= */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}

.featured .sub-title {
    color: #000339;
    font-size: 35px;
    font-weight: 600;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .row .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

.featured .row .link {
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .row .link .arrow {
    position: relative;
    top: -2px;
    margin-left: 8px;
}
/* ----------- */
.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}
.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.14px;
}

/* ===========================stats============================ */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
}

.stats .stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stats .stats-trend .icon {
    margin-left: auto;
    width: 25.11px;
    height: 16.034px;
}

.stats .stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.stats-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-group .avatar {
    /* cach 3 khi them the span */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--bg-color, #fff);
}

.stats .avatar-group .avatar:first-child {
    margin-left: 0;
}

.stats .avatar-group .avatar-1 {
    color: #fff;
    /* Những cách căn giữa chữ cho một phân tử  */
    /* cach 1 khong phai them the span*/
    /* line-height: 1.6rem;
    text-align: center; */
    /* cach 2 phai them the span*/
    /* display: flex; */
    font-size: 0.8rem;
    font-weight: 450;
    letter-spacing: -0.145px;
}

/* .stats .avatar-group .avatar-1 span {
    /* cach 2 phai them the span*/
/* margin: auto; 
} */

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    color: #000339;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    top: -10;
    left: 0;
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
}

.stats .row-qty {
    margin-top: 110px;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
}

.stats .qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
/* ====================subscription=================== */
.subcription {
    margin-top: 90px;
}
.subcription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    /* margin: 0 80px; sai */
    border-radius: 20px;
    background: #063183;
}

.subcription .body .info {
    width: 670px;
    max-width: 100%;
    padding: 0 80px;
}

.subcription .info .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subcription .info .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.subcription .info .btn {
    color: #002366;
    min-width: 150px;
    margin-top: 20px;
    background: #fff;
}

.subcription .body .image {
    position: absolute;
    bottom: 0;
    right: 221px;
    /* left: calc(100% - 221px); */
}

/* ==========================footer============================= */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
    justify-content: left;
}

.footer .row-top {
    gap: 198px;
}

.footer .row-top .heading {
    color: #1c1c1d;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .row-top .list,
.footer .desc {
    margin-top: 42px;
}

.footer .row-top .item {
    margin-top: 18px;
}

.footer .row-top .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    margin-top: 40px;
    display: flex;
}

.footer .social .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28.47px;
    /* background: orange; */
    border-radius: 3px;
}

.footer .social .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    /* vì ở trong class row đã là display: flex rồi nên ở đây không phải ghi  */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}
.footer .row-bottom .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
